.nav {
  grid-area: n;
  background-color: #696969;
  padding: 30px;

}

.item {
  color: white;
  height: 24px;
}

.item a.activeLink {
  color: black;
  height: 30px;
}
.item a {
  color:#f7e1d8;
  text-decoration: none;
}