.app-wrapper {
  width: 1200px;
  margin: auto;
  /* Оформляем столбцы и строки через grid */
  grid-template-areas:
    "h h"
    "n c";
  display: grid;
  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.nav {
  grid-area: n;
  background-color: yellow;
}

.header {
  grid-area: h;
  background-color: green;
}

.content {
  grid-area: c;
  background-color: orange;
}

.header img {
  width: 175px;
}

.content img {
  height: 200px;
  width: 300px;
}