.app-wrapper {
  width: 1200px;
  margin: auto;
  /* Оформляем столбцы и строки через grid */
  grid-template-areas:
    "h h"
    "n c";
  display: grid;
  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: silver;
}