.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialog{
    font-size: 16px;

}
.dialogsItems{
    padding: 10px;
}
.dialogs a {
    text-decoration: none;
    color:#f7e1d8;
}

.dialogsItems .active {
    color: crimson;
}

.items {

}

.message {
    padding: 10px;

}
.dialogs .activeLink{
    color:crimson;
}
