.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialog{
    font-size: 16px;

}
.dialogs a.active {
    color: fuchsia;

}
.dialogs a {
    text-decoration: none;
    color:black;
}

.dialogsItems a.active {
    color: crimson;
}

.dialogsItems img {
    height: 20px;
    width: 20px;
    border-radius: 15px;
;
}

.message {
    padding: 10px;

}

